<div class="choice-body">
  <div class="header">
    <img class="logo-left" src="assets/images/UFC.png">
    <img class="logo-center" src="assets/images/SF.png">
    <img class="logo-right" src="assets/images/USC.png">
  </div>

  <div class="choices">
    <a [routerLink]="['/home-ufc']" type="button" class="btn-UFC">
      <img src="assets/images/UFC.png"/>
    </a>
    <a [routerLink]="['/home-usc']" type="button" class="btn-USC">
      <img src="assets/images/USC.png"/>
    </a>
  </div>
</div>

